@inject AppSettings AppSettings
@inject ITranslator Translator

@if (_showDemo)
{
    <div class="alert alert-info d-none d-md-block text-wrap">
        <p>
            <strong>@Translator.Markdown($"You are accessing *{"Paula"}* in a restricted demo mode. ")</strong>
        </p>
        <span>
            @ChildContent
        </span>
    </div>
}

@code {


    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    public bool _showDemo = false;

    protected override async Task OnParametersSetAsync()
    {
        var user = (await AuthenticationState).User;
        if (user.HasIdentity())
        {
            _showDemo = user.GetIdentity() == AppSettings.DemoIdentity;
        }
    }
}
