@inject AppSettings AppSettings
@inject ITranslator<DemoNote> Translator

@if (_showDemo)
{
    <div class="alert alert-info d-none d-md-block text-wrap rounded-0">
        <p>
            <strong>@Translator.Markdown($"You are accessing the *{"Object Inspection"}* in a restricted demo mode. ")</strong>
        </p>
        <span>
            @ChildContent
        </span>
    </div>
}

@code {


[Parameter]
public RenderFragment ChildContent { get; set; } = null!;

[CascadingParameter]
private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

public bool _showDemo = false;

protected override async Task OnParametersSetAsync()
{
    var user = (await AuthenticationState).User;
    if (user.Claims.HasIdentity())
    {
        _showDemo = user.Claims.GetIdentity() == AppSettings.DemoIdentity;
    }
}

}
