@inject ITranslator<SignOutButton> Translator
@inject IAuthenticationRequestHandler AuthenticationHandler
@inject NavigationManager NavigationManager   

<a @attributes="AdditionalAttributes" @onclick="() => SignOutAsync()" href="#">
    <span class="oi oi-account-logout" aria-hidden="true"/>@Title</a>

@code {

[Parameter(CaptureUnmatchedValues = true)]
public IDictionary<string, object>? AdditionalAttributes { get; set; }

public async Task SignOutAsync()
{
await AuthenticationHandler.SignOutAsync();
NavigationManager.NavigateTo("/");
}

public string Title => AdditionalAttributes?.ContainsKey("title") == true
? $"{AdditionalAttributes["title"]}"
: string.Empty;

}
