@page "/notifications"

@inject ITranslator Translator
@inject NavigationManager NavigationManager
@inject INotificationHandler NotificationHandler
@inject AppAuthentication AppAuthentication

@implements IAsyncDisposable

@attribute [Authorize("Inspector")]

<div class="container-fluid">
    <h1>@Translator["Notification"]</h1>
</div>

<div class="container-fluid">
@if (_notifications == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var notification in _notifications)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="card-subtitle text-muted mb-1">@((notification.Date, notification.Time).ToLocalTimeString())</h6>
                <p class="card-text tex-wrap">@notification.Text</p>
                <button class="btn btn-primary" title="@Translator["Delete"]"
                    @onclick="() => RemoveAsync(notification)"><span class="oi oi-trash"/></button>
            </div>
        </div>
    }
}
</div>

@code {

    private ICollection<NotificationResponse>? _notifications;

    private IDisposable? _notificationHandlerOnCreated;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _notifications = new List<NotificationResponse>();

            await foreach (var notification in NotificationHandler.GetAllForInspector(AppAuthentication.Inspector))
            {
                _notifications.Add(notification);
                StateHasChanged();
            }

            _notificationHandlerOnCreated = NotificationHandler.OnCreatedAsync(OnCreatedAsync);

            StateHasChanged();
        }
    }

    public Task OnCreatedAsync(NotificationResponse notification) 
    {
        _notifications!.Add(notification);
        return InvokeAsync(StateHasChanged);
    }

    public ValueTask DisposeAsync()
    {
        _notificationHandlerOnCreated?.Dispose();
        return ValueTask.CompletedTask;
    }

    public async Task RemoveAsync(NotificationResponse notification)
    {
        await NotificationHandler.DeleteAsync(notification.Inspector, notification.Date, notification.Time);
        _notifications!.Remove(notification);
    }
}