@page "/change-avatar"

@inject ITranslator<ChangeAvatar> Translator
@inject IInspectorAvatarRequestHandler InspectorAvatarHandler
@inject NavigationManager NavigationManager

@attribute [Authorize]

<div class="container-fluid">
    <h1>@Translator[$"Change Avatar"]</h1>
</div>

<div class="container-fluid">
    <div class="form-group">
        <InspectorAvatar Inspector="Me" Size="128" Src="_browserFile"/>
    </div>
    <div class="form-group">
        <InputFile OnChange="@OnInputFileChanged" class="form-control-file" />
    </div>
</div>

@if(_browserFile != null)
{
    <div class="container-fluid">
        <AuthorizedButton Policy="AuditingFull" @onclick="OnSubmitAsync" class="btn btn-primary">@Translator[$"Submit"]</AuthorizedButton>
    </div>
}

@code {

private IBrowserFile? _browserFile;

private void OnInputFileChanged(InputFileChangeEventArgs e)
{
_browserFile = e.File;
StateHasChanged();
}

private async Task OnSubmitAsync()
{
if(_browserFile != null)
{
    await InspectorAvatarHandler.WriteAsync(_browserFile.OpenReadStream(), "me");
    NavigationManager.NavigateTo("/", true);
}
}
}