@page "/"

@inject ITranslator<Index> Translator
@inject NavigationManager NavigationManager

@attribute [Authorize("AuditingLimited")]

<PageTitle>@Translator[$"Welcome"]</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 id="indexHeadline" class="h2">@Translator[$"Welcome"]</h1>
</div>

<DemoNote>
    @Translator.Markdown($"*{"Paula"}* is a simple auditing app, that does not follow any official workflow. You can click around, but the demo mode will prevent wrongdoing.")
</DemoNote>