::deep header,
::deep nav,
::deep footer,
::deep main {
    font-size: .875rem;
}

.navbar {
    background-color: #6074A1 !important;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar-nav {
    flex-direction: row;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

@media (min-width: 768px.98) {
    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: 1.1rem;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 769px) {
    .navbar-nav {
        display: none;
    
    }
}